//Projektin perusmuotoilua
//Teemavärien muokkausta tehty src/app/theme/ alle variables-osioon, mikä luotu ionicframeworkin Color Generatorissa

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


//Ion-selectin tyylin testausta alempana
//Kopioitu Ionicframework-sivulta ja muokattu oppimismielessä


/* Set the width to the full container and center the content */

ion-select, ion-input {
  width: 100%;

  justify-content: center;
    /* Applies to the value and placeholder color */
    color: #3a7269;

    /* Set a different placeholder color */
    --placeholder-color: #973a1e;
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
}


/* Set the flex in order to size the text width to its content */
ion-select::part(placeholder),
ion-select::part(text) {
  flex: 0 0 auto;
}



/* Set the placeholder color and opacity */
ion-select::part(placeholder) {
  color: #3a7269;
  opacity: 1;
}

/*
 * Set the font of the first letter of the placeholder
 * Shadow parts work with pseudo-elements, too!
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements
 */
ion-select::part(placeholder)::first-letter {
  font-size: 24px;
  font-weight: 500;
}

/* Set the text color */
ion-select::part(text),
ion-input {
  color: #704031;
}

/* Set the icon color and opacity */
ion-select::part(icon) {
  color: #800f0f;
  opacity: 1;
}
